{#
/**
 * @file
 * Default theme implementation to display a formatted image field with caption.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 * - caption: Weither or not to display a caption.
 * - caption_text: Caption text.
 *
 * @see template_preprocess_image_jssor_formatter()
 *
 * @ingroup themeable
 */
#}
<figure>
  {% if url %}
    <a href="{{ url }}">{{ image }}</a>
  {% else %}
    {{ image }}
  {% endif %}
  {% if caption %}
    <figcaption>
      {{ caption_text }}
    </figcaption>
  {% endif %}
</figure>