{#
/**
 * @file
 * Default theme implementation of a swiper reference formatter.
 *
 * Available variables:
 * - attributes: HTML attributes for the field's wrapping element.
 * - container_attributes: HTML attributes for the swiper container.
 * - wrapper_attributes: HTML attributes for the swiper wrapper.
 * - slide_attributes: HTML attributes for a single swiper slide.
 * - children: Contains the field properties and child elements of the field.
 * - controls: An array of controls to render on the swiper field, may contain
 *     the following controls:
 *     - pager: Indicates whether or not to render an element for pagination.
 *     - next_button: Indicates whether or not to render the 'next' button.
 *     - prev_button: Indicates whether or not to render the 'previous' button.
 *     - scrollbar: Indicates whether or not to render the a swiper scrollbar.
 * - slider_id: Unique ID for the slider.
 * - options: Options of the field formatter.
 *
 * @see template_preprocess_swiper_reference_field()
 *
 * @ingroup themeable
 */
#}
{#{{ dump(children) }}#}
{%
  set classes = [
    'field',
    'field--name-' ~ options['field_name']|clean_class,
    'field--type-' ~ options['field_type']|clean_class,
    'field--label-' ~ options['label_display']|clean_class,
  ]
%}
{%
  set wrapper_classes = [
    'field__items',
  ]
%}
{%
  set slide_classes = [
    'field__item',
  ]
%}
{%
  set title_classes = [
    'field__label',
    options['label_display'] == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ element['#children']['#title'] }}</div>
  {% endif %}
  <div {{ container_attributes.setAttribute('id', slider_id) }}>
    <div {{ wrapper_attributes.addClass(wrapper_classes) }}>
      {% for slide_content in children %}
        {% if hashnav %}
          <div {{ slide_attributes.addClass(slide_classes).setAttribute('data-hash', 'slide' ~ loop.index) }}>
        {% else %}
          <div {{ slide_attributes.addClass(slide_classes) }}>
        {% endif %}
          {{ slide_content }}
        </div>
      {% endfor %}
    </div>
    {% for control in controls %}
      {% if control %}
        <div {{ control.attributes }}></div>
      {% endif %}
    {% endfor %}
  </div>
</div>
