{#
/**
 * @file  views-swiper.html.twig
 * Default theme implementation to display a view of Swiper slilder.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 * - slider_id: Unique ID for the slider.
 * - options: Options of the view.
 * - attributes: HTML attributes for the swiper container.
 * - wrapper_attributes: HTML attributes for the swiper wrapper.
 * - slide_attributes: HTML attributes for a single swiper slide.
 * - controls: An array of controls to render on the swiper field, may contain
 *     the following controls:
 *     - pager: Indicates whether or not to render an element for pagination.
 *     - next_button: Indicates whether or not to render the 'next' button.
 *     - prev_button: Indicates whether or not to render the 'previous' button.
 *     - scrollbar: Indicates whether or not to render the a swiper scrollbar.
 *
 * @see template_preprocess_views_swiper_slider()
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup views_templates
 */
#}
{#{{ dump() }}#}
{%
  set classes = [
    'views-view-swiper',
  ]
%}
{%
  set wrapper_classes = [
  ]
%}
{%
  set slide_classes = [
    options.row_class,
  ]
%}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div {{ attributes.addClass(classes).setAttribute('id', slider_id) }}>
  <div {{ wrapper_attributes.addClass(wrapper_classes) }}>
    {% for row in rows %}
      {% if hashnav %}
        <div {{ slide_attributes.addClass(slide_classes).setAttribute('data-hash', 'slide' ~ loop.index) }}>
      {% else %}
        <div {{ slide_attributes.addClass(slide_classes) }}>
      {% endif %}
        {{ row.content }}
      </div>
    {% endfor %}
  </div>

  {% for control in controls %}
    {% if control %}
      <div {{ control.attributes }}></div>
    {% endif %}
  {% endfor %}
</div>
